*{
    box-sizing: border-box;
}

body{
    text-align: center;
}

img{
    max-width:100%;
}

section ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:center;
}

section ul li{
    margin-right: 10px;
}

section ul li img{
    height: 300px;
}