<app-doctor></app-doctor><hr/>
<app-cities></app-cities><hr/>
<app-course></app-course><hr/>
<app-addition></app-addition><hr/>
<app-average-marks></app-average-marks><hr/>
<app-circle></app-circle><hr/>
<app-mycalculator></app-mycalculator><hr/>
<app-triangle></app-triangle><hr/>
<app-promises></app-promises><hr/>
<app-observables></app-observables><hr/>
<app-observable-posts></app-observable-posts><hr/>
<app-itune></app-itune><hr/>
<app-template-driven-form></app-template-driven-form><hr/>
<app-reactive-forms></app-reactive-forms><hr/>
<app-dynamic-form></app-dynamic-form><hr/>
<app-company-dynamic-form></app-company-dynamic-form><hr/>
<app-pipes></app-pipes><hr/>
<app-pe-pipes></app-pe-pipes><hr/>
<app-array-pipe></app-array-pipe><hr/>
<app-routing></app-routing><hr/>