<div class="container">
  <div class="block">
    <h1>ng-if Example:</h1>
    <ng-if></ng-if>
  </div>

  <div class="block">
    <h1>ng-if Other Way:</h1>
    <ng-if-other></ng-if-other>
  </div>

  <div class="block">
    <h1>ng-if Another Way:</h1>
    <ng-if-another></ng-if-another>
  </div>

  <div class="block">
    <h1>Hidden Property:</h1>
    <hidden-property></hidden-property>
  </div>

  <div class="block">
    <h1>ngSwitchCase:</h1>
    <ng-switch-case></ng-switch-case>
  </div>

  <div class="block">
    <h1>ngFor:</h1>
    <ng-for></ng-for>
  </div>

  <div class="block">
    <h1>ngClass using Like Button:</h1>
    <like></like>
  </div>

  <div class="block">
    <h1>ngStyle using Button:</h1>
    <ng-style></ng-style>
  </div>

  <div class="block">
    <h1>Safe Traversal Operator:</h1>
    <safe-traversal></safe-traversal>
  </div>

  <div class="block">
    <h1>Custom Directives:</h1>
    <custom-directives></custom-directives>
  </div>

  <div class="block">
    <h1>Exercise: Zippy Component</h1>
    <zippy title="shippingDetails">
      Shipping Details Content
    </zippy>
  </div>
</div>