*{
	box-sizing: border-box;
}

.body{
	font-family: 'Lato', sans-serif;;
	padding: 0;
	margin: 0;
}

.shopping-cart-container{
	background: #f2f2f2;
	max-width: 382px;
	width: 100%;
	position: fixed;
	bottom: 0;
	right: 20px;
	padding: 20px;
}

.cart-head{
	font-family: 'Lato', sans-serif;
	padding-bottom: 20px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	color: #333;
}

.close{
	width: 40px;
    height: 40px;
	float: right;
	position: relative;
	margin-top: -10px;
}

.close:hover{
	cursor: pointer;
}

.close:before{
	content: '';
	position: absolute;
	background: #333;
	height: 50px;
	width: 1px;
	right: 20px;
	top: -6px;
	transform: rotate(45deg);
}

.close:after{
	content: '';
	position: absolute;
	background: #333;
	height: 50px;
	width: 1px;
	right: 20px;
	top: -6px;
	transform: rotate(-45deg);
}

.cart-body{
	font-family: 'Lato', sans-serif;
	color: #333;
	font-weight: 300;
	font-size: 13px;
	text-transform: uppercase;
}

.product-items{
	margin-bottom: 20px;
	background: #fff;
	padding: 10px;
	position: relative;
	overflow: hidden;
}

.product-items:hover{
	cursor: pointer;
	outline: 1px solid #bfbfbf;
}

.front-face{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.product-img{
	height: 70px;
	min-width: 70px;
	width: 32%;
	border: 1px solid #f2f2f2;
	text-align: center;
}

.product-img img{
	width: auto;
	height: 60px;
	padding-top: 10px;
}

.product-name{
	padding: 0 10px;
}

.price-and-quantity{
	width: 33%;
	text-align: right;
}

.product-price{
	display: block;
	padding-top: 30px;
	color: #b1acab;
	font-weight: 500;
}

.product-price strong{
	color: #333;
	font-weight: 400;
}

.product-quantity{
	background: #f2f2f2;
	display: inline-block;
	padding: 3px 7px;
	font-weight: 400;
	border-radius: 50%;
}

.hover-face{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: absolute;
	width: 75%;
	height: 100%;
	top: 0;
	right: -100%;
	background: #333333;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.product-items:hover > .hover-face{
	right: 0;
}

.counters{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

.quantity-text{
	width: 35px;
	height: 35px;
	border: none;
	background: #fff;
	color: #333;
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
	text-align: center;
}

.decrement, .increment{
	height: 35px;
	width: 35px;
	background: #fff;
	color: #333;
	font-weight: 300;
	font-size: 29px;
	text-align: center;
	line-height: 1;
	margin: 0 5px;
	border: none;
	outline: none;
	transition: all 0.2s ease-in-out;
}

.decrement:hover, .increment:hover{
	cursor: pointer;
	background: #f2f2f2;
	color: #000;
}

.remove{
	background: #d14242;
	width: 43%;
	height: 100%;
	text-align: center;
	padding: 60px 0 0;
	position: relative;
	transition: all 0.2s ease-in-out;
}

.remove p{
	margin: 0;
}

.remove:hover{
	background: #f00;
	cursor: pointer;
}

.remove-btn{
	display: table;
}

.remove-btn:before{
	content: '';
	position: absolute;
	background: #fff;
	height: 50px;
	width: 1px;
	left: 50%;
	top: 10px;
	transform: rotate(45deg);
}

.remove-btn:after{
	content: '';
	position: absolute;
	background: #fff;
	height: 50px;
	width: 1px;
	left: 50%;
	top: 10px;
	transform: rotate(-45deg);
}

.cart-footer{
	border-top: 2px solid #bfbfbf;
	padding-top: 20px;
}

.total-price{
	font-family: 'Lato', sans-serif;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.price{
	text-align: right;
}

.price small{
	display: block;
	font-size: 11px;
	font-weight: 300;
}

.checkout-btn{
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #fff;
	padding: 12px 30px;
	width: 100%;
	text-decoration: none;
	background: #00a4c4;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0;
	transition: all 0.2s ease-in-out;
}

.checkout-btn:hover{
	background: #00ddd2;
}