$font-lato: 'Lato', sans-serif;

$font-weight-xs: 100;
$font-weight-sm: 300;
$font-weight-md: 400;
$font-weight-lg: 700;
$font-weight-xl: 900;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;

$font-line-height-xs: 1rem;
$font-line-height-sm: 1.25rem;
$font-line-height-md: 1.5rem;
$font-line-height-lg: 1.75rem;
$font-line-height-xl: 2rem;

$font-size-xs-rem: 0.75rem;
$font-size-sm-rem: 0.875rem;
$font-size-md-rem: 1rem;
$font-size-lg-rem: 1.125rem;
$font-size-xl-rem: 1.25rem;
