<div class="container-fluid mt-5 mb-5">
	<div class="container">
		<h1 class="text-center pb-3">Potential Energy Using Custom Pipes (Assignment)</h1>

		<form class="form">
			<div class="form-inline">
				<label for="mass">Mass:</label>
				<input type="text" class="form-control ml-2 mr-2" name="mass" [(ngModel)]="mass" id="mass" />

				<label for="height">Height:</label>
				<input type="text" class="form-control ml-2 mr-2" name="height" [(ngModel)]="height" id="height" />
			</div>
		</form>

		<div class="mt-2">
			Potential Energy is: {{mass | pe : height}}
		</div>
	</div>
</div>