<div class="container pt-3">

  <div class="block">
    <getting-data></getting-data>
  </div>

  <div class="block">
    <creating-data></creating-data>
  </div>

  <div class="block">
    <update-data></update-data>
  </div>

  <div class="block">
    <delete-data></delete-data>
  </div>

  <div class="block">
    <ng-on-init></ng-on-init>
  </div>

  <div class="block">
    <seperation-of-concern></seperation-of-concern>
  </div>

  <div class="block">
    <unexpected-error></unexpected-error>
  </div>

  <div class="block">
    <error-handling-using-app-specific-error></error-handling-using-app-specific-error>
  </div>

</div>