<div class="container-fluid">
	<div class="container">
		<h1 class="text-center">Players Routing (Assignment)</h1>

		<nav class="navbar navbar-expand-sm bg-light">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" routerLink="/">Sachin</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="Dravid">Dravid</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="Azaharuddin">Azaharuddin</a>
				</li>
			</ul>
		</nav>

		<router-outlet></router-outlet>
	</div>
</div>