<div class="container-fluid mt-5 mb-5">
	<div class="container">
		<h1 class="text-center mb-3">Routing Inside Components</h1>
		<div class="form-group">
			<label for="loginEmail">Email:</label>
			<input type="email" class="form-control" id="loginEmail" [(ngModel)]="user.name"/>
		</div>

		<div class="form-group">
			<label for="loginPassword">Password:</label>
			<input type="password" class="form-control" id="loginPassword" [(ngModel)]="user.password"/>
		</div>

		<div class="for-group">
			<input type="button" class="btn btn-primary" value="Click to Login" (click)="checkLogin()"/>
		</div>
	</div>
</div>