<h2 class="text-center">ngOnInit LifeCycle Hook of Angular</h2>
<small class="text-center d-block">We should not use any time taking call inside the constructor</small>
<div class="form-group">
  <input (keyup.enter)="createPost(title)" #title type="text" class="form-control mt-2 mb-3" placeholder="Add Your New Post">

  <ul class="list-group">
      <li class="list-group-item" *ngFor="let post of posts">
        <button (click)="updatePost(post)" type="button" class="btn btn-primary btn-sm">Update</button>
        <button (click)="deletePost(post)" type="button" class="btn btn-danger ml-2 btn-sm">Delete</button>
        {{post.title}}
      </li>
    </ul>
</div>