<div class="fuid-container mt-5 mb-5">
	<div class="container">
		<h1 class="text-center mb-3">Doctors Lists</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Full Name</th>
					<th>Age</th>
					<th>Specialization</th>
					<th>Contact</th>
					<th>Email ID</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{doctor1.name}}</td>
					<td>{{doctor1.age}}</td>
					<td>{{doctor1.specialization}}</td>
					<td>{{doctor1.contact}}</td>
					<td>{{doctor1.email}}</td>
				</tr>
				<tr>
					<td>{{doctor2.name}}</td>
					<td>{{doctor2.age}}</td>
					<td>{{doctor2.specialization}}</td>
					<td>{{doctor2.contact}}</td>
					<td>{{doctor2.email}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>