<div class="card" style="width:400px">
	<img class="card-img-top" src="../../assets/images/sachin.jpg" alt="Card image" style="max-width:100%;">
	<div class="card-body">
		<h4 class="card-title">Sachin Tendulkar</h4>
		<p class="card-text">Indian cricket prodigy who started his test career at the age of 16 and went on to be the first cricketer to score 100 international centuries.</p>
		<a href="https://en.wikipedia.org/wiki/Sachin_Tendulkar" target="_blank" class="btn btn-primary">See Profile</a>
	</div>
</div>